
<div class="container">
    <table width="600" align="center " border="1" cellpadding="5">
      <tr>
        <td align="center" colspan="2"><h2>Dr.Aaman </h2></td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <h4>Hello, {{patient.name}}</h4>
          <p>Your appointment has been scheduled on following details</p>
        </td>
      </tr>
      <tr>
        <th>
          Your next visit on
          <td>{{next_visit|date:'d-m-Y'}}</td>
        </th>

      </tr>
    </table>
 
 
</div>
