{%extends 'index.html' %}
{% block title %}FAQ- AI based Mediguard{% endblock %}
{% block page_title %}FAQ{% endblock %}
{% block breadcrumb_active %}FAQ{% endblock %}
{% block main %}
				<div class="container mt-0">
					<div class="row breadcrumb-bar">
						<div class="col-md-6">
							<h3 class="block-title">Frequently Asked Questions</h3>
						</div>
						<div class="col-md-6">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="{%url 'index'%}">
										<span class="ti-home"></span>
									</a>
								</li>
								<li class="breadcrumb-item">Other Pages</li>
								<li class="breadcrumb-item active">FAQ</li>
							</ol>
						</div>
					</div>
				</div>
			<!-- /Breadcrumb -->
			<!-- Main Content -->
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="widget-area-2 proclinic-box-shadow">
				
							<!-- Faq 1 Set-->
							<h3 class="widget-title">FAQ Set One</h3>
							<div class="proclinic-widget">
								<p>
									Get to know us better with this introduction section. You can always contact us if you need any further assistance.
								</p>
								<div id="faq1" class="faq-block" role="tablist" aria-multiselectable="true">
									<!-- Faq Item -->
									<div class="block block-rounded mb-1">
										<div class="block-header block-header-default" role="tab" id="faq1_h1">
											<a class="font-w600" data-toggle="collapse" data-parent="#faq1" href="#faq1_q1" aria-expanded="true" aria-controls="faq1_q1">How do I log in to the Mediguard web application?</a>
										</div>
										<div id="faq1_q1" class="collapse" role="tabpanel" aria-labelledby="faq1_h1" data-parent="#faq1">
											<div class="block-content">
												<p>You can log in by visiting the Mediguard website and entering your username and password on the login page.</p>
											</div>
										</div>
									</div>
									<!-- /Faq Item -->
									<!-- Faq Item -->
									<div class="block block-rounded mb-1">
										<div class="block-header block-header-default" role="tab" id="faq1_h3">
											<a class="font-w600" data-toggle="collapse" data-parent="#faq1" href="#faq1_q3" aria-expanded="true" aria-controls="faq1_q3">Is the Mediguard web application compatible with all devices?</a>
										</div>
										<div id="faq1_q3" class="collapse" role="tabpanel" aria-labelledby="faq1_h3" data-parent="#faq1">
											<div class="block-content">
												<p>Yes, the Mediguard web application is designed to be responsive and accessible on various devices including desktops, tablets, and smartphones.</p>
											</div>
										</div>
									</div>
									<!-- /Faq Item -->
									<!-- Faq Item -->
									<div class="block block-rounded mb-1">
										<div class="block-header block-header-default" role="tab" id="faq1_h4">
											<a class="font-w600" data-toggle="collapse" data-parent="#faq1" href="#faq1_q4" aria-expanded="true" aria-controls="faq1_q4">What should I do if I forget my password?</a>
										</div>
										<div id="faq1_q4" class="collapse" role="tabpanel" aria-labelledby="faq1_h4" data-parent="#faq1">
											<div class="block-content">
												<p>If you forget your password, you can use the 'Forgot Password' option on the login page to reset it. An email will be sent to your registered email address with instructions for resetting your password.</p>
											</div>
										</div>
									</div>
									<!-- /Faq Item -->
								</div>
							</div>
							<!-- /Faq 1 Set-->
							</div>
							<div class="widget-area-2 proclinic-box-shadow">
							<!-- Faq 2 Set -->
							<h3 class="widget-title">FAQ Set Two</h3>
							<div class="proclinic-widget mb-3">
								<p>
									There are tons of available features, so you might have some questions
								</p>
								<div id="faq2" class="faq-block" role="tablist" aria-multiselectable="true">
									<!-- Faq Item -->
									<div class="block block-rounded mb-1">
										<div class="block-header block-header-default" role="tab" id="faq2_h1">
											<a class="font-w600" data-toggle="collapse" data-parent="#faq2" href="#faq2_q1" aria-expanded="true" aria-controls="faq2_q1">What features are available on the dashboard?</a>
										</div>
										<div id="faq2_q1" class="collapse" role="tabpanel" aria-labelledby="faq2_h1" data-parent="#faq2">
											<div class="block-content">
												<p>The dashboard provides a comprehensive overview of patient data, medication histories, upcoming appointments, and other relevant information tailored to the specific needs of users, facilitating effective healthcare management.</p>
												<ul class="fa-ul list-li-push-sm">
													<li>
														Fully Responsive
													</li>
													<li>
														API Support
													</li>
													<li>
														Dynamic and real time data
													</li>
													<li>
														Security
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- /Faq Item -->
									<!-- Faq Item -->
									<div class="block block-rounded mb-1">
										<div class="block-header block-header-default" role="tab" id="faq2_h2">
											<a class="font-w600" data-toggle="collapse" data-parent="#faq2" href="#faq2_q2" aria-expanded="true" aria-controls="faq2_q2">How does the AI-based chatbot assist users?</a>
										</div>
										<div id="faq2_q2" class="collapse" role="tabpanel" aria-labelledby="faq2_h2" data-parent="#faq2">
											<div class="block-content">
												<p>The AI-based chatbot offers support by providing accurate information and proactive guidance on medication management and healthcare queries, accessible directly within the application.</p>
											</div>
										</div>
									</div>
									<!-- /Faq Item -->
									<!-- Faq Item -->
									<div class="block block-rounded mb-1">
										<div class="block-header block-header-default" role="tab" id="faq2_h3">
											<a class="font-w600" data-toggle="collapse" data-parent="#faq2" href="#faq2_q3" aria-expanded="true" aria-controls="faq2_q3">Can I generate reports on patient medication adherence?</a>
										</div>
										<div id="faq2_q3" class="collapse" role="tabpanel" aria-labelledby="faq2_h3" data-parent="#faq2">
											<div class="block-content">
												<p>Yes, you can generate reports on patient medication adherence using the 'Total Count Reports' feature in the dashboard, providing valuable insights into patient treatment compliance.</p>
											</div>
										</div>
									</div>
									<!-- /Faq Item -->
									<!-- Faq Item -->
									<div class="block block-rounded mb-1">
										<div class="block-header block-header-default" role="tab" id="faq2_h4">
											<a class="font-w600" data-toggle="collapse" data-parent="#faq2" href="#faq2_q4" aria-expanded="true" aria-controls="faq2_q4">How can I set medication reminders?</a>
										</div>
										<div id="faq2_q4" class="collapse" role="tabpanel" aria-labelledby="faq2_h4" data-parent="#faq2">
											<div class="block-content">
												<p>You can set medication reminders by accessing the 'Reminder System' feature in your profile settings, where you can specify the medication, dosage, and frequency for reminders.</p>
											</div>
										</div>
									</div>
									<!-- /Faq Item -->
								</div>
							</div>
							<!-- /Faq 2 Set -->
				
						</div>
					</div>
				
				</div>
			</div>
{%endblock%}